<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:4567/style.css">
</head>
<body>
<header>
  <nav class="container">
    <ul class="nav">
      <li>
        <a href="/pizzas">Pizza Orders</a>
      </li>
      <li>
        <a href="/pizzas/new">New Pizza</a>
      </li>
    </ul>
  </nav>
  </header>
  <%= yield %>
</body>
</html>